.center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%)
}

html, body {
    background-color: #1E1E1E;
}

.image {
    position: relative;
}

.title {
    position: relative;
    font-family: "Gobold", sans-serif;
    font-size: 30px;
    color: white;
    padding-left: 20px;
    padding-top: 5px;
}

@font-face {
    font-family: SourceCodePro;
    src: url("../../lib/assets/fonts/SourceCodePro-Regular.tff");
}

.dollar {
    font-family: "SourceCodePro", sans-serif;
    font-size: 30px;
    color: yellow;
    padding-left: 20px;
    padding-top: 5px;
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}